* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(40, 68, 34);
  color: white;
}

#judul {
  text-align: center;
  padding-top: 50px;
  font-size: 20px;
}

.rumus {
  text-align: center;
  padding: 30px 70px 70px 70px;
  font-size: 30px;
}